.vscode
__pycache__
.ipynb_checkpoints
/oracletool/build*/*
/oracletool/results/
/examples/
oracletool/examples/

simulations/py-env


/QSP/build*/*


!/oracletool/build*/tobuild
!/oracletool/build*/test*/
!/oracletool/build*/test*/*
!/QSP/build*/tobuild

CMakeFiles

*.png
*.jpg
*.pylog
*.clog
*.circuit
*.hdf5
*.pdf
*.eps
*.tgn
*.ris
*.log

buildcpu
python3
magick






