.vscode
__pycache__
.ipynb_checkpoints

simulations/py-env

CMakeFiles
framework/build_*/CMakeCache.txt
framework/build_*/Makefile
framework/build_*/QuEST
framework/build_*/oracletool
framework/build_*/qsvt
framework/build_*/qc_circuit

simulations/waves_vacuum_init_value
simulations/matrix_inversion
simulations/XW_waves

simulations/tests/test_matrix_inversion
simulations/tests/test_matrix_inversion.ipynb
simulations/tests/small-qsvt-real
simulations/tests/small_qsvt_sims.ipynb

*.png
*.jpg
*.pylog
*.clog
*.circuit
*_OUTPUT.hdf5
*.pdf
*.eps
*.tgn
*.ris
*.log
*.cmake
*.tex

python3
magick






